@import "./base.css";

button {
  border-radius: 5px;
  background-color: #36d;
  color: #fff;
  border: 1px solid #fff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
button:active,
button.active {
  border-color: #36d;
  color: #36d;
  background-color: #fff;
}
