@import "./base.css";

a,
a:hover,
a:active,
a:visited {
  color: var(--button-color);
}

input,
select {
  border: 1px solid var(--color-border);
  color: var(--color-text);
  font-size: 16px;
}

button,
a.linkButton {
  border-radius: 0.75em;
  background-color: var(--button-color);
  color: var(--button-text);
  border: 1px solid var(--color-background);
  padding: 0.5em 1em;
  text-decoration: none;
}
button:active,
button.active,
a.linkButton:active,
a.linkButton.active {
  border-color: var(--button-color);
  color: var(--button-color);
  background-color: var(--color-background-soft);
}
a.linkButton {
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  font-size: 13.33333333px;
}
button:disabled,
a.disabled {
  background: var(--color-border);
}

button.secondary {
  background-color: transparent;
  color: var(--color-text);
  border: 1px solid var(--color-border);
}

button.secondary:hover {
  background-color: var(--color-background-soft);
}

button.secondary:active {
  background-color: var(--color-background-mute);
}
